/*--------------------------------*\
    $colors
\*--------------------------------*/
/*
* Branding Colors
*/
$color-brand: rgb(20, 33, 61);
$color-secondary: rgb(252, 163, 17);

/*
* UI Colors
*/
$color-black: #000000;
$color-blue-ligth: #203664;
$color-grey: #e5e5e5;
$color-white: #ffffff;
